@{
    ViewBag.Title = "BarCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="form-control" onchange="selectOnchang(this)" style="width:20%">
    <option value="lines+markers">lines+markers</option>
    <option value="lines">lines</option>
    <option value="markers">markers</option>
</select>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">scatter charts</h3>
    </div>
    <div class="panel-body">
        <div id="tester1"></div>
    </div>
</div>
<script src="~/Scripts/Plotly/plotly.min.js"></script>
<script>

    function selectOnchang(obj) {
        var value;
        if (obj === '') {
            value = 'lines+markers';
        } else {
            value = obj.options[obj.selectedIndex].value;
        }
        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            mode: value,
            type: 'scatter'
        };

        var trace2 = {
            x: [1, 2, 3, 4],
            y: [16, 5, 11, 9],
            mode: value,
            type: 'scatter'
        };
        var data = [trace1, trace2];
        Plotly.newPlot('tester1', data);
    }

    $(function () {
        $(".page-header h1 span,#currentpart").html("图表");
        $(".page-header h1 small span").html("Scatter");
        $(".nav-list>li:eq(3)").addClass("active").siblings().removeClass("active");
        selectOnchang("");
    });
</script>